<%- include('header')%>
<h2>Admin: <a href="/admin">Voltar</a></h2>
<div>
    <h3><a href="/admin/categorias/create">Nova Categoria</a></h3>
    <ul>
        <% categorias.forEach( categoria => { %>
            <li>
                <%= categoria.categoria %>
                | <a href="/admin/categorias/delete/<%- categoria.id %>">Excluir</a>
                | <a href="/admin/categorias/update/<%- categoria.id %>">Editar</a>
            </li>
        <% } )%>
    </ul>
</div>
<%- include('footer')%>