<%- include('header') %>
<h2>
    Nova vaga:
    <a href="/admin/vagas">Voltar</a>
</h2>
<div>
    <form method="POST">
        <label for="txtTitulo">Título: </label>
        <input autofocus required value="<%= vaga.titulo %>" type="text" id="txtTitulo" name="titulo">
        <br>
        <label for="txtDesc">Descrição:</label>
        <textarea required id="txtDesc" name="descricao"><%= vaga.descricao %>
        </textarea>
        <br>
        <label for="txtCategoria">Categoria:</label>
        <select id="txtCategoria" name="categoria">
            <% categorias.forEach( categoria => { %>
            <option value="<%= categoria.id %>" <%= categoria.id === vaga.categoria ? 'selected' : '' %>>
                <%- categoria.categoria %>
            </option>
            <% } ) %>
        </select>
        <br>
        <input type="hidden" name="id" value="<%- vaga.id %>">
        <button>Salvar Vaga</button>
    </form>
</div>
<%- include('footer') %>